<p class="story">
    "Що ж, знову настала ця пора місяця. Зарплатні чеки для наших працівників, 
     які потребують ваших підписів. І не забудьте підписати великі!"<br>
    -- Міняємося місцями
</p>
 
<p style="text-align: justify;">
    У багатьох країнах використовують різні конвенції для роздільника тисяч і десяткових знаків.  Наприклад, у Нідерландах
    один мільйон одна тисяча двісті вісімдесят одна сота записується як 1.001.200,80, а в США
    як 1,001,200.80.  Використовуйте свої навички кодування, щоб конвертувати долари в першому стилі (Нідерланди, Німеччина, Туреччина,
    Бразилія та інші) у другий стиль (США, Великобританія, Канада, Китай, Японія, Мексика та інші).
</p>

<p>
    Конвертувати потрібно тільки валютні суми в доларах: $1,234,50 до $1,234,50, $1,000 до $1,000 і $4,57 до $4,57.
    Не конвертуйте випадково IP-адресу вашого роутера 192.168.1.1.  Валюту, зазначену в американському стилі, слід залишити без змін.
</p>

<p>
   <strong>Вхідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<div class="for_info_only">

    <p>
        <strong>Приклади:</strong>
    </p>

    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Як використовується:</strong>
    Це вправа по роботі з рядками та використанню стандартної бібліотеки Python.
</p>

<p>
    <strong>Передумови:</strong>
    <ul>
    <li><i>0 &lt; len(text) &le; 1000;</i></li>
    <li><i>len(дробова_частина_валюти) в {0,2};</i></li>
    <li><i>all(s[-1].isdigit() for s in currency_substrings);</i></li>
    <li><i>all(s[0] == '$' for s in currency_substrings)</i></li>
    </ul>
</p>
