<p class="story">
    "Well, it's that time of the month again. Payroll checks for our employees, 
     which require your signatures. And no forgetting to sign the big ones!"<br>
    -- Trading Places
</p>
 
<p style="text-align: justify;">
    Many countries use different conventions for the thousands separator and decimal mark.  For example in the Netherlands
    one million one thousand two hundred and eighty one-hundredths is written as 1.001.200,80, but in the US this is written
    as 1,001,200.80.  Use your coding skills to convert dollars in the first style (Netherlands, Germany, Turkey,
    Brazil, and others) to the second style (US, UK, Canada, China, Japan, Mexico, and others).
</p>

<p>
    Only currency amounts in dollars should be converted: $1.234,50 to $1,234.50, $1.000 to $1,000, and $4,57 to $4.57.
    Don't accidentally convert your router's IP address 192.168.1.1.  You should leave currency noted in the US style unchanged.
</p>

<p>
    <strong>Input:</strong> A string <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> A string <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>


<div class="for_info_only">

    <p>
        <strong>Examples:</strong>
    </p>

    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
    <strong>How it is used:</strong>
    This is an exercise in working with strings and using the Python standard library.
</p>

<p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>0 &lt; len(text) &le; 1000;</i></li>
    <li><i>len(fractional_part_of_currency) in {0,2};</i></li>
    <li><i>all(s[-1].isdigit() for s in currency_substrings);</i></li>
    <li><i>all(s[0] == '$' for s in currency_substrings)</i></li>
    </ul>
</p>
